<div class="panel-heading">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/user/list">List of users</a></li>
        <li role="presentation"><a href="/user/create">Create new user</a></li>
    </ul>
</div>

<div class="panel-body">
    <h1>Welcome to {{title}}</h1>
</div>