<h1>User creation</h1>
<script>
    $(function() {
        $('form').submit(function(e) {
            //prevent Default functionality
            e.preventDefault();

            $.ajax({
                url: '/api/user',
                type: 'post',
                dataType: 'application/json',
                data: $("#form").serialize()
            })
            .always(function( data_jqXHR, textStatus, jqXHR_errorThrown ) {
                var jqXHR;
                if (textStatus === 'success') {
                    jqXHR = jqXHR_errorThrown;
                } else {
                    jqXHR = data_jqXHR;
                }
                switch (jqXHR.status) {
                    case 200:
                    case 201:
                    case 204:
                    case 401:
                        window.location = '/user/list';
                        break;
                    default:
                        alert(jqXHR);
                        break;
                }
            });
            return false;
        });
    });

    function getImage() {
        var reader = new FileReader();
        var f = document.getElementById("file").files;
        reader.onloadend = function () {
            $('input[name="photo"]').val(reader.result);
        };
        reader.readAsDataURL(f[0]);
    }
</script>
<form id="form">
    <input type="hidden" name="redirect" value="http://www.opera.com" />

    <div class="form-group">
        <label for="firstname">Firstname:</label>
        <input type="text" class="form-control" name="firstname">
    </div>
    <div class="form-group">
        <label for="lastname">Lastname:</label>
        <input type="text" class="form-control" name="lastname">
    </div>
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" name="email">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" name="pwd">
    </div>
    <div>
        <label for="file">Photo</label>
        <input type="file" id="file" name="file" onchange="getImage(this.files)" >
        <input type="hidden" name="photo"/>
    </div>
    <button type="submit" class="btn btn-default">Create user</button>
</form>

<br/>
<a href="/user/list">List of users</a>
