<h1>Users list</h1>

<table class="table">
    <thead>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Photo</th>
    </thead>
    <tbody>
    {{#users}}
        <tr>
            <td>{{firstname}}</td>
            <td>{{lastname}}</td>
            <td><image src="{{photo}}" height="42"</td>
        </tr>
    {{/users}}
    </tbody>
</table>
<a href="/user/create">Create a new user</a>
